Source: sot-pattern-generator
Priority: extra
Maintainer: Thomas Moulard <thomas.moulard@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cmake (>= 2.6),
	       doxygen (>= 1.6.3),
	       pkg-config (>= 0.22),
	       hrp2-dynamics (>= 1.5.2),
	       hrp2-10-optimized (>= 1.0.1),
	       hrp2-10-data (>= 1.0.1),
	       libjrl-dynamics-dev (>=1.19.3),
	       libjrl-walkgen-dev (>= 3.1.4),
	       libsot-core-dev (>= 1.1.1),
	       libsot-dynamic-dev (>= 1.1.1)
Standards-Version: 3.8.4
#Vcs-Git:
#Vcs-browser:
Section: libs
#Homepage:

Package: libsot-pattern-generator-dev
Section: libdevel
Architecture: any
Depends: hrp2-dynamics (>= 1.5.2), hrp2-optimized (>= 1.0.1), hrp2-10-data (>= 1.0.1), libjrl-dynamics-dev (>=1.19.3), libjrl-walkgen-dev (>= 3.1.4), libsot-core-dev (>= 1.1.1), libsot-dynamic1.1.1 (= ${binary:Version}), libsot-pattern-generator1.1.1 (= ${binary:Version}), ${misc:Depends}
Suggests: libsot-pattern-generator-doc
Description: pattern generator plug-in for dynamic-graph development package
 This software provides jrl-walkgen bindings for the dynamic-graph
 package. It allows the computation of whole-body biped walk
 trajectories.
 .
 This package contains development files (headers and pkg-config file).

Package: libsot-pattern-generator1.1.1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: pattern generator plug-in for dynamic-graph
 This software provides jrl-walkgen bindings for the dynamic-graph
 package. It allows the computation of whole-body biped walk
 trajectories.
 .
 This package contains the dynamic graph plug-ins and versioned shared
 libraries.


Package: libsot-pattern-generator-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Suggests: libdynamic-graph-doc
Description: documentation for the pattern generator plug-in
 This software provides jrl-walkgen bindings for the dynamic-graph
 package. It allows the computation of whole-body biped walk
 trajectories.
 .
 This package contains the Doxygen documentation.

Package: libsot-pattern-generator-dbg
Architecture: any
Section: debug
Priority: extra
Depends:  libsot-dynamic (= 1.1.1)
Description: debugging symbols for libsot-pattern-generator
 This software provides jrl-walkgen bindings for the dynamic-graph
 package. It allows the computation of whole-body biped walk
 trajectories.
 .
 This package contains the debugging symbols for libsot-pattern-generator